
.main-grid{
    display:flex;
    gap: 20px;
}
.grid1-img{
    width: 100%;
    height: 150px;
    margin-bottom: 0px;
    object-fit: cover;
    border-radius: 6px;
}
.subgrid1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-img{
    
    width: 30px;
    height:30px;
    border-radius: 50px;
    margin-left: 5px;
}
.info{
    margin-left: 15px;
    color: rgb(111, 106, 99);
    margin-top: 4px;
}
.name{
    margin:  0px;
}
.button{
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(54, 151, 164);
    border: none;
   cursor: pointer;
}

.grid1, .grid2, .grid3{
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
