.div{
    width: 300px;
    height:150px;
    background-color: rgb(63, 59, 59);

}
.para1{
    color: white;
    padding-left: 5px;
    padding-top: 20px;
    font-family: Arial;
    font-weight: bold;

}
.para2{
      color: rgb(168, 159, 159);
    padding-left: 5px;
    

}