.block1{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px;
    
    width: 330px;
    height: 100px;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 2px;

    
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}
.line1{
    color: rgb(127, 129, 130);
}
.button{
    border-radius: 10px;
    color:white;
    padding: 5px 5px ;
    background-color: blue;
    border-width: 0px;

}