.first{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.second{
    width: 100px;
}
.third{
    display: block;
    margin-bottom: 10px;


}
.button{
    margin-left: 20px;
    /* width: 100px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(21, 90, 146);
    color: aliceblue;
    border-radius: 5px;


}