.line1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt1{
    display: block;
    margin-bottom: 10px;
}
.txt2{
    display: block;
    margin-bottom: 10px;
}
.button1{
    background-color: black;
    color: azure;
    padding-bottom: 5px;
    padding-top: 5px;


}
.button2{
    border-width: 0px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}